/*general*/
body{
    margin: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}
h1, h2, button, nav{
    font-family: 'Raleway';
}
h1, h2{
    margin: 0;
    font-weight: 700;
    line-height: 1.2em;
    /* padding: 0.83em 0; */
}
h2{
    font-size: 2.5em;
}
input[type="email"], button{
    box-sizing: border-box;
    height: 2.5rem;
    padding: 0 1rem;
    width: 100%;
    border-radius: 4px;
}
input[type="email"]{
    border: 1px solid hsl(0, 0%, 75%);
}
button{
    background-color: hsl(224, 93%, 58%);
    border-width: 0;
    color: #ffffff;
    font-weight: 700;
    margin-top: 1rem;
}
button:hover{
    background-color: hsl(224, 93%, 70%);
    cursor: pointer;
}
/*containers*/
.content{
    padding: 5em 3em;
}

.img-container{
    max-width: 50%;
    margin: auto;
}
.img-container img{
    width: 100%;
}

.testimonial{
    border-radius: 4px;
    background-color: #ffffff;
    width: 80%;
    padding: 1.5em;
    max-width: 315px;
    text-align: left;
    margin: 4em auto;
    box-shadow: 0 0 10px 1px hsl(0, 0%, 75%);
}
.testimonial .user img{
    float: left;
    height: 3.2em;
    margin-right: 15px;
    border-radius: 50%;
}
.testimonial .user .user-name{
    font-weight: 700;
}
.testimonial .user .user-position{
    font-size: 0.8em;
}
/*navigation bar*/
.navbar{
    padding-top: 2rem;
    padding-bottom: 6rem;
    padding: 2rem 2rem 6rem 2rem;
    font-size: 13px;
}
.navbar .logo{
    float: left;
}
.navbar .logo img{
    width: 3.4em;
}
.navbar nav ul{
    list-style: none;
    float: right;
    text-align: center;
}
.navbar nav ul li{
    display: inline-block;
    margin-right: 1em;
}
.navbar nav ul li a{
    text-decoration: none;
    color: inherit;
}
/*content*/
.curved{
    background-color: hsl(240, 75%, 98%);
    border-top-left-radius: 50% 53px;
    border-top-right-radius: 50% 53px;
    padding-top: calc(53px + 3rem);
}
.early-access{
    background-color: hsl(238, 22%, 44%);
    color: #ffffff;
}
/*footer*/
footer{
    background-color: hsl(243, 87%, 12%);
    color: #ffffff;
}
footer ul{
    list-style: none;
    padding-left: 0;
}
footer ul li a{
    color: inherit;
    text-decoration: none;
}
footer ul li a:hover{
    color: hsl(238, 22%, 44%);
}
footer #footer-logo{
    display: block;
    filter: invert(100%) saturate(0%) brightness(500%);
}
/*special items*/
.wrong-email{
    display: block;
    line-height: 1em;
    font-size: 0.9rem;
    margin-top: 5px;
}
.mobile-center{
    text-align: center;
}
.special-h2{
    font-size: 1.1rem;
}
.cyan-link{
    width: fit-content;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    margin: 0 auto;
}
.cyan-link a{
    display: inline-block;
    padding-bottom: 4px;
    color: hsl(170, 45%, 43%);
    text-decoration: none;
}
.cyan-link::after{
    content: url('../images/icon-arrow.svg');
}
.cyan-link:hover{
    filter: brightness(130%);
    cursor: pointer;
}
#footer-logo{
    margin-bottom: 4em;
}
.i{
    height: 1em;
    width: 16px;
    margin: 0 1em 0 0;
}
.i.phone{
    content: url('../images/icon-phone.svg');
}
.i.email{
    content: url('../images/icon-email.svg');
}
.social img{
    cursor: pointer;
}


@media (min-width: 1000px){
    body{
        font-size: 16px;
    }
    .navbar{
        font-size: 16px;
    }
    .navbar .logo img{
        width: 4em;
    }
    input[type="email"], button{
        width: auto;
    }
    input[type="email"]{
        width: 60%;
        min-width: 300px;
    }
    .testimonial{
        margin: 4em 0;
    }
    
    section .img-container{
        width: 55%;
    }
    section{
        display: flex;
        flex-direction: row-reverse;
    }
    .early-access{
        display: block;
    }
    .early-access .content{
        display: flex;
        justify-content: space-between;
    }
    .early-access .ea-text{
        max-width: 430px;
    }
    .early-access .ea-form{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .early-access .ea-form input[type="email"]{
        order: 1;
        width: 100%;
    }
    .early-access .ea-form .wrong-email{
        order: 2;
    }
    .early-access .ea-form button{
        order: 3;
        width: fit-content;
    }
    footer .content{
        display: flex;
        justify-content: space-between;
    }
    footer .social{
        min-width: calc(100% / 4);
    }
    footer .social img{
        display: inline-block;
        height: auto;
        width: 30px;
    }
    .mobile-center{
        text-align: left;
    }
    .cyan-link{
        margin: 0;
    }
    .desktop-block{
        display: block;
    }
}